<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android">
    <application a:label="Edit" a:icon="@mipmap/icon">
        <activity a:name=".Main" a:exported="true">
            <intent-filter>
                <action a:name="android.intent.action.VIEW" />
                <category a:name="android.intent.category.DEFAULT" />
                <data a:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <action a:name="android.intent.action.EDIT" />
                <category a:name="android.intent.category.DEFAULT" />
                <data a:mimeType="text/*" />
            </intent-filter>
        </activity>
    </application>
</manifest>